# Configurações do Banco de Dados
DB_NAME=
DB_USER=
DB_PASS=

# Portas (caso queira mudar sem mexer no compose)
FRONT_PORT=
BACK_PORT=
DB_PORT=

# JWT
JWT_SECRET=
JWT_EXPIRATION=

# E-mail (Mailtrap)
MAIL_USERNAME=
MAIL_PASSWORD=

# Frontend
FRONTEND_URL=

# Credenciais do Super Admin
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASS=
ADMIN_PHONE=